body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
}

.navbar {
  background-color: #af5920;
  padding: 10px;
  margin-bottom: 20px;
}

.navbar-nav {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.nav-item {
  margin-right: 15px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #C3AED6;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content {
  margin-top: 20px;
  text-align: center;
}

.media-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

video {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

h1, p {
  margin-bottom: 15px;
}
